.modal-dialog{
	max-width: 900px !important;
}
form.form-filter {
    overflow: hidden;
    margin-bottom: 10px;
}
form.form-filter fieldset {
    border: 1px solid #E5E5E5;
    margin: 0;
    padding: 10px;
}
form.form-filter fieldset legend {
    border: medium none;
    color: #333333;
    line-height: 20px;
    margin: 0;
    width: auto;
}
form.form-filter ul.search {
    clear: both;
    list-style: none outside none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
form.form-filter ul.search li {
    float: left;
    /*width: 230px;*/
    padding-right: 10px;
    margin-bottom: 5px;
}
form.form-filter ul.search li label
{
    display: block;
}
form.form-filter ul.search li.action {
    margin-top: 25px;
}
.error{
    color: #A94442;
}

.filter-panel-custom{
    margin:15px;
}

.filter-panel-custom .panel-title{
    font-size: 17px;
    padding-top: 5px;
}

.filter-out{
    display: none;
}
.filter-in{
    display: block;
}
.filter-panel .panel-heading{
    background: #2f7db2 none repeat scroll 0 0;
    color: white;
    padding: 3px 10px;
}
.filter-panel .panel-body{
    border: 1px solid #2f7db2;
    margin-top: 5px;
    padding: 15px;
}
.form-group .my-label{
    font-weight: bolder;
    padding-right:10px; 
}